{% comment %}
    Preamble intro has lots of extra fields
{% endcomment %}

<li
    {% if node.marker %}marker-type="{{node.marker}}"{% endif %}
    {% if node.toc_id %}data-toc-id="{{node.toc_id}}"{% endif %}
    id="{{node.markup_id}}"
    data-permalink-section>
  <div class="node">
    {% if meta.comment_state.name == 'OPEN' and node.accepts_comments %}
      <div
          class="activate-write"
          data-section="{{ node.full_id }}"
          data-label="{{ node.human_label }}">
        <a href="#">
          <div class="paragraph-comment-icon">
            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
          </div>
          <div class="paragraph-comment">Write a comment about {{ node.human_label }}</div>
        </a>
      </div>
    {% endif %}
    <h4>{{ meta.primary_agency }}</h4>
    <h3>{{ meta.title }}</h3>
    <div>
      {% if meta.comment_state.name == 'OPEN' %}
        <div class="countdown open">{{ meta.days_remaining }} Days</div>
      {% elif meta.comment_state.name == 'CLOSED' %}
        <div class="countdown closed">0 Days</div>
      {% endif %}

      {% if meta.comment_state.name == 'PREPUB' %}
        <h5>This comment period is not open.</h5>
      {% elif meta.comment_state.name == 'OPEN' %}
        <h5>Comment period closes on {{ meta.comments_close|date:"F j, Y" }} at 11:59pm EST.</h5>
      {% elif meta.comment_state.name == 'CLOSED' %}
        <h5>Comment period closed on {{ meta.comments_close|date:"F j, Y" }} at 11:59pm EST.</h5>
      {% endif %}{% comment %}No text in the NO_COMMENT state {% endcomment %}

      {% if meta.comment_state.name == 'PREPUB' %}
        The rule is not yet published in the Federal Register.
      {% else %}
        Rule published {{ meta.publication_date|date:"F j, Y"}}
      {% endif %}
    </div>
    {% if meta.supporting_documents %}
    <div class="view-supporting-docs">
      <a href="#supporting-docs">View supporting documents from the docket</a>
    </div>
    {% endif %}
    <hr />
    <p>
      {% for title_info in meta.cfr_refs %}
        {{title_info.title}} CFR Parts {{ title_info.parts|join:", " }}<br />
      {% endfor %}
      {{meta.dockets|join:"; "}}<br />
      {{meta.regulation_id_numbers|join:"; "}}
    </p>
  </div>
</li>
{% for c in node.children %}
  {% with node=c %}
    {% include node.template_name %}
  {% endwith %}
{% endfor %}
{% if meta.supporting_documents %}
  <li>
    <h4 id="supporting-docs">Supporting documents from the docket:</h4>
    <ol>
      {% for doc in meta.supporting_documents|slice:":3" %}
        <li><a href="https://www.regulations.gov/#!documentDetail;D={{doc.regs_id}}">{{doc.title}}</a></li>
      {% endfor %}
      <li><a href="https://www.regulations.gov/#!docketBrowser;rpp=25;po=0;dct=SR%252BO;D={{meta.primary_docket}}">View all</a></li>
    </ol>
  </li>
{% endif %}
