extends: airbnb

globals:
    document: true
    localStorage: true
    sessionStorage: true
    window: true
    XMLHttpRequest: true
    $: true
# i.e. fixmes
rules:
    no-var: off     # need babel before we can remove this
    object-shorthand: off   # need babel before we can remove this
    prefer-arrow-callback: off  # need babel
    prefer-rest-params: off   # need babel
    prefer-template: off  # need babel
    space-before-function-paren: off
    space-in-parens: off
    space-infix-ops: off
    space-unary-ops: off
    strict: off
    vars-on-top: off
