extends: airbnb

globals:
    document: true
    localStorage: true
    sessionStorage: true
    window: true
    XMLHttpRequest: true
    $: true
# i.e. fixmes
rules:
    object-shorthand: off   # need babel before we can remove this
    prefer-arrow-callback: off  # need babel
    prefer-rest-params: off   # need babel
    prefer-template: off  # need babel
    vars-on-top: off
