extends: airbnb

globals:
    document: true
    localStorage: true
    sessionStorage: true
    window: true
    XMLHttpRequest: true
    $: true
# i.e. fixmes
rules:
    prefer-template: off  # need babel
    vars-on-top: off
