coverage
coveralls
django-nose
pep8==1.5.7
flake8
httpretty
mock
nose-exclude
nose-testconfig
selenium
tox
git+https://github.com/openstack/bandit.git   # PyPi version is out of date
pytest==3.0.5
pytest_cov==2.4.0
pytest_django==3.1.2
