/*
comment.less
==========================================================================
comment.less contains styles related to commenting on sections
*/

#preamble-read li {
  position: relative;
}

.activate-write {
  color: #BDDCFD;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  right: -270px;
  top: -5px;
  width: 230px;

  &:hover {
    color: #4A90E2;
  }
}

.activate-read {
  background: #4A90E2;
  color: #FFFFFF;
  .font-regular;
  cursor: pointer;
  padding: 7px 0;
  margin: 10px 0;
  text-align: center;
  width: 100%;

  -webkit-transition: .1s;
  -moz-transition: .1s;
  transition: .1s;

  &:hover {
    background-color: #00629f;
  }
}

.comment-wrapper {
  .font-regular;
  padding: 10px 0;

  .comment {
    font-size: 14px;
    padding-bottom: 10px;

    textarea, .ProseMirror {
      border-color: #979797;
      border-radius: 4px;
      padding: 5px;
      margin: 10px 0;
      width: 100%;
    }
  }

  .comment-clear {
    clear: both;
    cursor: pointer;
    display: inline-block;
    margin: 8px 13px 0 0;
    float: right;
    text-align: right;

    &:hover {
      text-decoration: underline;
    }
  }

  .status {
    clear: both;
    font-weight: bold;
    padding: 0 8px 0 0;
    text-align: right;
    width: 100%;
  }
}

.comment-wrapper .comment button,
.comment-review-submit {
  background-color: #4A90E2;
  border-radius: 4px;
  font-weight: 100;
  letter-spacing: 0.03em;
  height: auto;
  padding: 13px 15px;
  float: right;

  -webkit-transition: .1s;
  -moz-transition: .1s;
  transition: .1s;

  &:hover {
    background-color: #00629f;
  }
}

.comment-context {
  max-height: 150px;
  overflow: auto;
}

#comment-review {
  margin-bottom: 25px;
}
