/*
Preamble Read Mode
================
*/
#preamble-read {
  margin: 0;
  padding: 0 0 0 15px;
  width: 75%;
  word-wrap: break-word;

  // for hiding write comment links on paragraphs
  // when section is not called out for comment
  .not-called-out {
    .activate-write {
      display: none;
    }

    // then show write comment links when paragraph
    // section is hovered
    &:hover {
      .activate-write {
        display: block;
      }
    }
  }
  .not-called-out-extend {
    bottom: 0;
    left: 0;
    position: absolute;
    right: -275px;
    top: 0;
  }

  // Write a comment about XXX link
  .activate-write {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: -320px;
    top: -5px;
    width: 250px;

    a {
      color: @pacific_light;
      display: block;
    }

    &:hover a,
    a:focus {
      color: @pacific_hover;
    }

    // write a comment pencil icon font
    .fa-pencil-square-o {
      clear: both;
      float: left;
      line-height: 24px;
      margin-right: 8px;
    }

    .paragraph-comment {
      overflow: hidden;
    }
  }

  p + .activate-write {
    top: 0;
  }

  // hidden content (with stars) on CFR
  .show-more-context {
    background-color: @grey;
    border-radius: 2px;
    color: @pacific;
    font-size: 10px;
    margin: 10px 0;
    text-align: center;
    width: 100%;

    span {
      font-size: 12px;
      padding: 0 30px;
    }
  }

  .subpart-info {
    border-bottom: 1px solid @medium_gray;
    margin-bottom: 15px;

    .subpart-sections {
      font-size: 14px;
      .font-regular;
      color: @dark_text;
      margin: 20px 0 0 0;
    }

    .subpart-wayfinding {
      display: inline-block;
      float: right;
    }
    a {
      display: inline-block;
      height: 10px;
      width: 10px;
      vertical-align: middle;
      background-color: @grey;

      &.current {
        background-color: @pacific;
      }
    }
  }

  .cfr-instructions {
    .font-regular;
    font-size: 16px;
    line-height: 24px;
    padding-top: 15px;
  }
}


