ol, li {
  list-style-type: none;

  &.lower {
    list-style-type: lower-alpha;
  }

  &.upper {
    list-style-type: upper-alpha;
  }

  &.roman {
    list-style-type: lower-roman;
  }

  &.upper-roman {
    list-style-type: upper-roman;
  }

  &.int {
    list-style-type: decimal;
  }

  &.markerless {
    list-style-type: none;
  }

  /* Paragraphs without content. We may want to display their paragraph marker */
  .collapsed {
    float: left;
  }

  .collapsed + ol {
    margin-top: 0;

    p:first-child {
      margin-top: 0;
    }
  }

  .collapsed + ol.level-3 {
    margin-top: 1em;
  }

  p {
    position: relative;

    .stripped-marker {
      display: block;
      left: -10em;
      position: absolute;
      text-align: right;
      width: 9.5em;
    }
  }
}
