
//--------------------------
// Colors
//--------------------------

// Base Colors

$teal: #026666;
$dark_blue: #17415F;
$mid_blue: #046791;
$light_blue: #A3E8FF;
$lightest_blue: #EEFAFE;

$dark_gray: #212121;
$mid_gray: #5B616B;
$light_gray: #D6D7D9;
$lightest_gray: #F3F3F3;

$magenta: #862074;

$white: #fff;
$black: #000;

// Usage
// Call This Section in Your CSS, Not the Color Names

$primary_color: $dark_blue;
$secondary_color: $teal;

$primary_link_color: $mid_blue;
$primary_link_hover: $dark_blue;

$secondary_link_color: $teal;
$secondary_link_hover: $mid_blue;

$teritary_link_color: $dark_blue;
$teritary_link_hover: $mid_blue;

$reverse_link_color: $light_blue;
$reverse_link_hover: $white;

$visited_link_color: $magenta;

$main_background_color: $white;
$secondary_background_color: $lightest_gray;
$teritary_background_color: $lightest_blue;
$reverse_background_color: $dark_blue;

$border_color: $light_gray;

$primary_text_color: $dark_gray;
$secondary_text_color: $mid_gray;
$reverse_text_color: $white;

//--------------------------
// Base Font Settings
//--------------------------

$base_font_size: 1rem;
$site_ratio: 1.6;

$primary_site_font: "Open Sans", sans-serif;
$secondary_site_font: "Merriweather", Georgia, serif;

//--------------------------
// Breakpoints
//--------------------------

// Add breakpoints here

//--------------------------
// Transitions
//--------------------------

@mixin transition {
  transition: all 0.1s ease-in;
}

// -------------------------
// General Settings
// -------------------------

a {
  color: $primary_link_color;

  &:hover {
    color: $primary_link_hover;
    cursor: pointer;
    @include transition;
  }
}


