{% comment %}
All other templates that need the HTML front matter, such as links to
CSS/Javascript etc., should inherit from this template.
{% endcomment %}

{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=11; IE=EDGE">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                {{meta.cfr_title_number}} CFR Part {{reg_part}} | Medicaid &amp; CHIP Regulations
            {% endblock %}
        </title>
        {% include "regulations/partials/favicon.html" %}
        <link rel="stylesheet" href="{% static '/css/main.css' %}" />
    </head>

    <body class="ds-base {% block body_class %}{% endblock %}">
        {% block pre_header %}{% endblock %}

        {% include "regulations/partials/flash_banner.html" %}

        {% block header %}
            <header>
                {% include "regulations/partials/header.html" %}
            </header>
        {% endblock %}
        
        {% block body %}{% endblock %}
       
        {% block footer %}
            <footer>
                {% include "regulations/partials/footer.html" %}
            </footer>
        {% endblock %}

        {% block post_footer %}{% endblock %}
    </body>
</html>
