{% comment %}
All other templates that need the HTML front matter, such as links to
CSS/Javascript etc., should inherit from this template.
{% endcomment %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        {% load static %}
        <meta http-equiv="X-UA-Compatible" content="IE=8; IE=EDGE">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
        {% block title %}
        {{meta.cfr_title_number}} CFR Part {{reg_part}} | eRegulations
        {% endblock %}
        </title>
        {% include "regulations/favicon.html" %}
        {% block app_js %}
        <script>
          window.APP_PREFIX = "{{ EREGS_GLOBALS.APP_PREFIX }}";
        </script>
        {% if EREGS_GLOBALS.ENV == 'built' %}
          <link rel="stylesheet" href="{%static "regulations/css/regulations.min.css" %}"/>
          <script src="{%static "regulations/js/built/regulations.min.js" %}"></script>
        {% else %}
          <!-- load our CSS -->
          <link rel="stylesheet" href="{%static "regulations/css/style.css" %}"/>

          <!-- enable livereload and serve non minified js in debug mode -->
          <script src="//localhost:35729/livereload.js"></script>

          <!-- no need to inline modernizr locally -->
          <script src="{%static "regulations/js/source/otherlibs/modernizr.js" %}"></script>

          <!-- our app's js -->
          <script src="{%static "regulations/js/built/regulations.js" %}"></script>
        {% endif %}
        {% endblock %}

        <!--[if lt IE 9]>
            <script src="{%static "regulations/js/built/lib/respond/respond.min.js" %}"></script>
        <![endif]-->
        {% block preload %}
        {% endblock %}

    </head>
    <!--[if lt IE 7]>      <body class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <body class="lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <body class="lt-ie9"> <![endif]-->
    <!--[if IE 9]>         <body class="lt-ie10"> <![endif]-->
    <!--[if gt IE 9]><!--><body><!--<![endif]-->
    <!--[if lt IE 8]>
    <div class="browser-warning displayed">
        <h2>Please note that the eRegulations tool does not support Internet Explorer version 7 or below.</h2>
        <ul>
            <li>To improve your experience, please <a href="http://browsehappy.com/">upgrade your browser <span class="cf-icon cf-icon-right"></span></a></li>
            <li>If you are using IE8 or later, you may need to turn off "Compatibility View."</li>
        </ul>
    </div>
    <![endif]-->

    {% if EREGS_GLOBALS.ANALYTICS.GOOGLE %}
      {% include "regulations/google_analytics.html" %}
    {% endif %}
    {% if EREGS_GLOBALS.ANALYTICS.DAP %}
      {% include "regulations/dap_analytics.html" %}
    {% endif %}

    {% block body %}
    {% endblock %}
    </body>
</html>
