{% extends "regulations/chrome.html" %}
{% load static from staticfiles %}
{% load macros render_nested %}

{% block title %}Preamble {{doc_number}}{% endblock %}

{% block sidebar-icons %}
<li><a href="#table-of-contents" id="menu-link" class="toc-nav-link current" title="Table of Contents"><span class="icon-text">Table of Contents</span><img src="{%static "regulations/img/table-of-contents.svg" %}"
       class="drawer-toggle-icon" alt="Table of Contents toggle" /></a></li>
{% endblock %}

{% block wayfinding %}
<span class="subpart">{{doc_number}}</span>
<span id="active-title">Active Title</span>
{% endblock %}

{% block header-secondary %}
<span class="effective-date"><strong>Published Date:</strong> A Date</span>
{% endblock %}

{% block whole-toc %}
<div id="menu" class="panel">
  <div class="toc-drawer toc-container current hidden diff-toc" id="table-of-contents">
    <div class="drawer-header">
      <h3 class="toc-type">Table of Contents</h3>
    </div><!-- /.drawer-header -->
    <nav id="toc" class="regulation-nav drawer-content" role="navigation">
      <ol>
        {% for child in preamble.children %}
          {% if child.title %}
            <li>
              <a href="{% url "chrome_preamble" paragraphs=child.label|join:"/" %}">{{child.title}}</a>
            </li>
            {% for subchild in child.children %}
              {% if subchild.title %}
                <li><a href="{% url "chrome_preamble" paragraphs=subchild.label|join:"/" %}"
                       style="padding-left: 2em;">{{subchild.title}}</a></li>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ol>
    </nav>
  </div>
</div> <!-- /.panel -->
{% endblock %}

{% block chrome-content %}

<main role="main">
  <div id="content-body" class="main-content">
    <section id="comment-review" data-page-type="comment-review" data-doc-id="{{doc_number}}">
      <h2>Review</h2>
      <div id="comment"></div>
    </section>
  </div>

  <script id="comment-template" type="text/template">
    <% if (comments.length) { %>
      <div>
        <% _.each(comments, function(comment, index) { %>
          <div>
            <h3><%= comment.label %></h3>
            <div><%= comment.comment %></div>
            <% if (comment.files.length) { %>
              <div>
                Attachments included
                <ul>
                  <% _.each(comment.files, function(file) { %>
                    <li><%= file.name %> Preview</li>
                  <% }) %>
                </ul>
              </div>
            <% } %>
          </div>
          <div>Edit comment</div>
          <% if (index < comments.length - 1) { %>
            <div>-----</div>
          <% } %>
        <% }) %>
      </div>
      <div id="comment-preview">
        <button class="preview-button">Build preview</button>
        <span class="preview-link">
          <% if (previewUrl) { %>
            <a href="<%= previewUrl %>">Download preview</a>
          <% } %>
        </span>
      </div>
      <div>
        <button class="submit-button">Submit your comment</button>
        <div class="status"></div>
      </div>

    <% } else { %>
      <p>There are no comments to review or submit.</p>
    <% } %>
  </script>
</main>

{% endblock %}

{% block chrome-sidebar %}{% endblock %}
