{% extends "regulations/base.html" %}

{% block body %}
<div id="content-body">
  <section data-page-type="comment-review" id="comment-review">
    <h2>Review submission</h2>
    <div id="comment"></div>
  </section>
</div>

<script id="comment-template" type="text/template">
<div class="comment-wrapper" data-section="<%= section %>">
  <div class="comment">
    <h3><a href="<%= url %>" target="_blank"><%= section %></a></h3>
    <form>
      <textarea role="textbox" aria-multiline="true"></textarea>
      <div class="queued"></div>
      <input type="file">
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
</script>
{% endblock %}
