<div>
  Comment submission failed.
  We're sorry, something went wrong with our system, and submitting your comment did not work.
</div>

<div>
  <a href="{% url 'comment_review' doc_number %}">Return to your draft comment</a> to try submitting again.
</div>

<div>
  <h3>If this problem keeps happening</h3>
  If you've already tried submitting your comment more than once, please save a copy of your draft comment for safekeeping.
</div>

You can:
<ul>
  <li>Come back here later and try submitting your comment again</li>
  <li>Use a different way to submit your comment. You can <a href="{{regs_gov_url}}" target="_blank">go to this proposed rule on Regulations.gov and submit your comment there</a>.</li>
  <li>Let us know about the problem. You can email <a href="mailto:changeme@changeme.gov">changeme.gov</a> to tell the team that built this tool about the problem — we'll look into this and try to fix it.</li>
</ul>
