<div>
  <h1>Comment period closed</h1>
  {% if meta.comments_close %}
    <div>
      As of <strong>{{meta.comments_close|date:"F j, Y"}} at 11:59pm EST</strong>, we are no longer accepting comments on this rule.
    </div>
  {% endif %}
  <div>
    <a href="#">Visit the docket ({{meta.dockets|join:"; "}})</a> to view all the public comments on this rule:
    <div>
      {% for title_info in meta.cfr_refs %}
        {{title_info.title}} CFR Parts {{title_info.parts|join:", "}}<br />
      {% endfor %}
    </div>
  </div>
  <div>
    <a href="{{request.path}}">Back to read the proposal</a>
  </div>
</div>
