{% extends "regulations/preamble-base.html" %}

{% block chrome-content %}
<main role="main">
  <div id="content-body" class="main-content preamble-wrapper comment-review-wrapper">
    <section
        id="comment-confirm"
        data-page-type="comment-confirm"
        data-metadata-url="{{metadata_url}}"
        data-doc-id="{{doc_number}}">
      {% if message %}
        {% include 'regulations/comment-confirm-invalid.html' %}
      {% elif not metadata_url %}
        {% include 'regulations/comment-confirm-fail.html' %}
      {% else %}
        {% include 'regulations/comment-confirm-success.html' %}
      {% endif %}
    </section>
  </div>
</main>
{% endblock %}
