{% extends "regulations/base.html" %}
{% load static %}

{% block title %}eRegulations{% endblock %}

{% block body_class %}site-homepage{% endblock %}

{% block body %}
    <main class="reg-title">
        <div class="container">
            {% for title in structure %}

            <h1> {{title.label}} </h1>
            
            {% for child in title.children %}
                {% with "regulations/homepage/"|add:child.type|add:".html regulations/homepage/child.html" as templates %}
                    {% include templates.split %}
                {% endwith %}
            {% endfor %}
            

            {% endfor %}

            {% if regulations %}
                {% include "regulations/partials/recent_changes.html" %}
            {% endif %}

            <div class="disclaimer">
                <h5>Legal Limitations of This Tool</h5>
                <p>The CMS Regulations tool is an editorial compilation of material and not an official legal edition of the Code of Federal Regulations or the Federal Register.
                    We have made every effort to ensure the material presented in this tool is accurate, but if you are relying on it for legal research you should consult the
                    official editions of those sources to confirm your findings. Nothing in this tool binds CMS or creates any rights, benefits, or defenses, substantive or
                    procedural, that are enforceable by any party in any manner.</p>
            </div>
        </div>
    </main>
{% endblock %}
