{% comment %}
    ** We should really rename this HTML file (it's not really navigation) **
    Display the previous, next section links
{% endcomment %}

{% if navigation %}
<div class="next-previous">

  {% if navigation.previous %}
  {% with prev=navigation.previous %}
  <a class="next-prev previous" href="{{ prev.url }}" 
      class="navigation-link backward next-prev-link"
      data-linked-section="{{prev.section_id}}"
      data-page-type="{{navigation.page_type}}">
    <div class="next-prev-label">Previous section: {{ prev.markup_prefix|safe }}{{prev.label}}</div> 
    <div class="next-prev-title">{{prev.sub_label}}</div>
  </a>
  {% endwith %}
  {% endif %}

  {% if navigation.next %}
  {% with next=navigation.next %}
  <a class="next-prev next" href="{{ next.url }}"
    class="navigation-link forward next-prev-link"
    data-linked-section="{{next.section_id}}"
    data-page-type="{{navigation.page_type}}">
    <div class="next-prev-label">Next section: {{ next.markup_prefix|safe }}{{next.label}}</div>
    <div class="next-prev-title">{{next.sub_label}}</div>
  </a>   
  {% endwith %}
  {% endif %}

</div>
{% endif %}
