{% comment %}
    Template for inner paragraphs of a reg section
{% endcomment %}
{% if node.header %}
<h{{ node.list_level|add:"+3" }}>{{ node.header | safe }}</h{{ node.list_level|add:"+3" }}>
{% endif %}

{%if node.marked_up %}
<p {% if node.is_collapsed %}class="collapsed"{% endif %}>
{% if node.node_type == "appendix" %}
    {{node.marked_up|safe|linebreaksbr}}
{% else  %}
    {{node.marked_up|safe}}
{% endif %}
</p>
{% endif %}

<div class="comment-wrapper" data-section="{{ node.markup_id }}">
  <div class="toggle">(click to toggle comment box)</div>
  <div class="comment">
    <h3>Enter your comment below:</h3>
    <form>
      <textarea role="textbox" aria-multiline="true"></textarea>
      <div class="queued"></div>
      <input type="file">
      <button type="submit">Save</button>
    </form>
  </div>
</div>

{% if node.children %}
<ol class="level-{{node.list_level|add:1}}">
    {% for c in node.children %}
        {% with node=c %}
            {% include node.template_name %}
        {% endwith %}
    {% endfor %}
</ol>
{% endif %}
{% if node.interp %}
    {% with interp=node.interp %}
        {% include "regulations/slide-down-interp.html" %}
    {% endwith %}
{% endif %}
