{% comment %}
    Template for inner paragraphs of a reg section
{% endcomment %}
{% if node.header %}
<div class="node">
  <h{{ node.list_level|add:"+3" }} class="section-header">{{ node.header | safe }}</h{{ node.list_level|add:"+3" }}>
  {% if node.accepts_comments %}
    <div
        class="activate-write"
        data-section="{{ node.full_id }}"
        data-label="{{ node.human_label }}">

        <div class="paragraph-comment-icon">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </div>
       <div class="paragraph-comment">Write a comment about {{ node.human_label }}</div>
    </div>
  {% endif %}
</div>
{% endif %}

<div class="node">
{%if node.marked_up %}
<p {% if node.is_collapsed %}class="collapsed"{% endif %}>
{% if node.node_type == "appendix" %}
    {{node.marked_up|safe|linebreaksbr}}
{% else  %}
    {{node.marked_up|safe}}
{% endif %}
</p>
{% comment %}@TODO use node.comments_calledout{% endcomment %}
{% if node.accepts_comments and not node.title %}
  <div
      class="activate-write"
      data-section="{{ node.full_id }}"
      data-label="{{ node.human_label }}">

      <div class="paragraph-comment-icon">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </div>
     <div class="paragraph-comment">Write a comment about {{ node.human_label }}</div>
  </div>
{% endif %}
{% endif %}
</div>

{% if node.children %}
<ol class="level-{{node.list_level|add:1}}">
    {% for c in node.children %}
        {% with node=c %}
            {% include node.template_name %}
        {% endwith %}
    {% endfor %}
</ol>
{% endif %}
{% if node.interp %}
    {% with interp=node.interp %}
        {% include "regulations/slide-down-interp.html" %}
    {% endwith %}
{% endif %}
