{% comment %}
    A node has children, so we need to generate an <ol>. We also need to
    account for the marker type of that child (or no type, as the case may
    be).
    Expects a `first_child` variable
{% endcomment %}
{% with m=first_child.label|last %}
    <ol class="level-{{first_child.list_level}}
               {% if m == 'a' %}lower
               {% elif m == 'A' %}upper
               {% elif m == 'i' %}roman
               {% elif m == 'I' %}upper-roman
               {% elif m == '1' %}int
               {% else %}markerless
               {% endif %}">
{% endwith %}
