{% load macros render_nested %}

<section id="content-wrapper">
  <section id="{{full_id}}" class="reg-section" data-page-type="preamble-section" data-doc-id="{{doc_number}}">
    <div id="preamble-read">
      {% if type == "preamble" %}
      <ul>
        {% render_nested template=sub_template context=sub_context %}
      </ul>
      {% else %}
        {% render_nested template=sub_template context=sub_context %}
      {% endif %}

      {% include "regulations/footnotes.html" %}
      {% include "regulations/navigation.html" %}
    </div>

    <div id="preamble-write">
      <div class="comment-wrapper">
        <div class="comment">
          <h2>Write your comment.</h2>
          <h3 class="comment-header"></h3>
          <div class="comment-context"></div>
          <form>
            <div class="editor-container"></div>
            <div class="comment-controls">
              <div class="comment-attachments"></div>
              <button class="comment-upload-button file-upload">
                Upload Attachment<input type="file" multiple/>
              </span>
            </div>
            <div class="comment-submission">
              <button class="comment-button" type="submit">Save Response</button>
              <div class="status"></div>
            </div>
          </form>
        </div>
      </div>
      <div class="comment-index">
        <ul class="comment-index-items"></ul>
        <a href="{% url 'comment_review' doc_number=doc_number %}" class="comment-index-review">Review and Submit</a>
      </div>
    </div>
  </section>
</section>

<script id="comment-attachment-template" type="text/template">
  <div class="comment-attachment">
    <span class="attachment-progress"></span>
    <span class="attachment-filename"><%= name %></span>
    <span class="attachment-size"><%= size %></span>
    <span class="fa fa-times attachment-remove"></span>
  </div>
</script>

<script id="comment-index-template" type="text/template">
  <h3>Your Comment</h3>
  <p class="comment-index-description">
    You have <span class="comment-count"><%= comments.length == 1 ? comments.length + ' response' : comments.length + ' responses' %></span> pending.
  </p>
  <% _.each(comments, function(comment) { %>
    <li
        class="comment-index-item group"
        data-comment-section="<%= comment.id %>"
        data-comment-toc-section="<%= comment.tocId %>"
        data-comment-label="<%= comment.label %>">
      <div class="comment-index-section"><%= comment.label %></div>
      <div class="comment-index-modify">
        <a class="comment-index-edit" title="Edit Comment"><span class="fa fa-pencil-square-o"></span></a>
        <a class="comment-index-clear" title="Remove Comment"><span class="fa fa-times"></span></a>
      </div>
    </li>
  <% }); %>
</script>
