{% load macros render_nested %}

<section id="content-wrapper" data-page-type="preamble-section">
  <section id="{{sub_context.node.label_id}}">
    <div id="preamble-read">
      {% render_nested template=sub_template context=sub_context %}
    </div>

    <div id="preamble-write">
      <div class="activate-read">View the proposal</div>
      <div class="comment-wrapper">
        <div class="comment">
          <h3>Enter your comment below:</h3>
          <div class="comment-context"></div>
          <form>
            <div class="editor-container"></div>
            <div class="queued"></div>
            <input type="file">
            <button type="submit">Add to your comment</button>
            <div class="status"></div>
          </form>
        </div>
      </div>
    </div>
  </section>
</section>
