{% extends "regulations/base.html" %}
{% load static %}

{% block pre_header %}
    <!-- Temporary: Gives users a way to switch between part, subpart, and section views -->
    <div class="switch-view">
        <ul>
            <li><a {% if part_view_link %}href="{{ part_view_link }}"{% else %}class="active" href="#"{% endif %}>Part View</a></li>
            <li><a {% if subpart_view_link %}href="{{ subpart_view_link }}"{% else %}class="active" href="#"{% endif %}>Subpart View</a></li>
        </ul>
    </div>
    <!-- / Temporary -->
{% endblock %}

{% block body %}
    {% include "regulations/partials/view-and-compare.html" %}
    <div class="box">
        <aside class="left-sidebar" data-state="expanded" data-state-name="left-sidebar">
            <div class="toc-controls">
                <button data-set-state="collapsed" data-state-name="left-sidebar">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    COLLAPSE
                </button>
                <button data-set-state="expanded" data-state-name="left-sidebar">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
            </div>
            {% include "regulations/partials/_jump-to.html" %}
            {% include "regulations/partials/toc.html" %}
        </aside>

        <main class="reg-text">
            {% include "regulations/partials/regulation_text.html" with c=tree %}
            {% include "regulations/partials/navigation.html" %}
        </main>

        <aside class="right-sidebar">
            {% include "regulations/partials/sidebar.html" %}
        </aside>
    </div>
{% endblock %}

{% block post_footer %}
    <script src="{% static '/js/main.js' %}"></script>
    <script src="{% static '/js/go-to-version.js' %}"></script>
{% endblock %}
