{% extends "regulations/base.html" %}
{% load static %}

{% block body %}
    {% include "regulations/partials/view-and-compare.html" %}
    <div class="flexbox">
        <aside class="left-sidebar" data-state="expanded" data-state-name="left-sidebar">
            {% include "regulations/partials/sidebar_left.html" %}
        </aside>

        <main class="reg-text">
            {% include "regulations/partials/regulation_text.html" with c=tree first="true" %}
            {% include "regulations/partials/navigation.html" %}
        </main>

        <aside class="right-sidebar">
            {% include "regulations/partials/sidebar_right.html" %}
        </aside>
    </div>
{% endblock %}

{% block post_footer %}
    <script src="{% static '/js/main.js' %}"></script>
    <script src="{% static '/js/go-to-version.js' %}"></script>
{% endblock %}
