{% extends "regulations/base.html" %}
{% load static %}

{% block title %}eRegulations{% endblock %}

{% block body %}
    <div class="flexbox search-page">

        <aside class="left-sidebar match-sides" data-state="collapsed" data-state-name="left-sidebar">
            {% include "regulations/partials/sidebar_left.html" %}
        </aside>

        <main class="match-middle">
            <div class="container">
                <div class="search-back">
                    <a href="/"><span class="back-arrow"></span>Back to Regulation Text</a>
                </div>

                <div class="search-context">This site searches Title 42: Parts 400, 430-460</div>

                <form class="search-box" action="{% url 'search' %}">
                    <input type=search name="q" placeholder="{{ q | default:'Search Regulations'}}"></input>
                    <button type="reset" class="search-reset">
                        <i class="fa fa-times"></i>
                    </button>
                    <button type="submit" class="search-submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>

                <div class="search-displayed-by">{{ results | length }} results, displayed by relevance</div>

                <div class="search-results">
                    {% for result in results %}
                        {% if result.label|length > 1 %}
                        <div class="result">
                            <div class="results-part">{{ result.regulation_title | title}}</div>
                            <div class="results-section"><a href="{% url 'reader_view' result.label.0 result.label.1 result.date %}#{{ result.label | join:'-' }}">{{ result.parent.title }}</a></div>
                            <div class="results-preview">{{ result.headline | safe }}</div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </main>

        <aside class="right-sidebar match-sides">
            <h3>Search Title 42 (Full)</h3>
            <h4><a class="external" href="https://ecfr.federalregister.gov/search?search%5Bdate%5D=current&search%5Bhierarchy%5D%5Btitle%5D=42&search%5Bquery%5D={{ q }}&view=standard">{{ q | capfirst }} in Beta eCFR</a></h4>
            <p>Search the entirety of Title 42, including other subchapters, in a different reg tool</p>
        </aside>
    </div>
{% endblock %}
