{% extends "regulations/base.html" %}
{% load static %}
{% load macros %}
{% block app_js %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}"/>
{% endblock %}

{% block body %}

<!-- Temporary: Gives users a way to switch between part, subpart, and section views -->
<div class="switch-view">
    <ul>    
        <li><a {% if part_view_link %}href="{{ part_view_link }}"{% else %}class="active" href="#"{% endif %}>Part View</a></li>
        <li><a {% if subpart_view_link %}href="{{ subpart_view_link }}"{% else %}class="active" href="#"{% endif %}>Subpart View</a></li>
        <li><a {% if section_view_link %}href="{{ section_view_link }}"{% else %}class="active" href="#"{% endif %}>Section View</a></li>
    </ul>
</div>
<!-- / Temporary -->

<header>
    {% include "regulations/main-header.html" %}
</header>

<div class="box">

    <aside class="left-sidebar">
        <div class="jump-to">
          <div class="jump-to-label">Jump to Regulation Section</div>
          <form method="GET" action="{% url 'goto' %}">
            <input name="part" type="hidden" required value={{ part }}>
            <input name="version" type="hidden" required value={{ version }}>
            <div class="jump-to-input">
              <label>§ {{ part }}.</label>
              <input class="number-box" name="section" placeholder="{{section}}" type="text">
            </div>
            <input class="submit" type="submit" value="Go">
          </form>
        </div>
        {% with nav_class='toc-nav__base toc-nav__cfr-viewer' toc_items=TOC top_toc=True %}
            {% include "regulations/toc.html" %}
        {% endwith %}
    </aside>

    <main class="reg-text">
        {% include "regulations/regulation_text.html" with c=tree %}
        {% include "regulations/navigation.html" %}
    </main>

    <aside class="right-sidebar">
        {%include "regulations/sidebar.html"%}
    </aside>

</div>   

<footer>
    <div class="container">
        {% include "regulations/footer.html" %}
    </div>
</footer>

{% endblock %}
