/*
LESS Mixins 
 ==========================================================================
mixins.less contains any mixins to be used throughout the LESS files
*/


/*
 Type Mixins
 ----------------------
*/

.avenir-next {
    font-family: "Avenir Next", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.avenir-next-demi {
    font-family: "Avenir Next Demi", Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.avenir-next-demi-italic {
    font-family: "Avenir Next Demi Italic", Arial, sans-serif;
    font-weight: 600;
    font-style: italic;
}

.panel-font {   /* todo: consolidate drawer / panel type and color sytles */
    font-familY: @font_family_bold;
    font-size: .875em;
}

/* todo: convert font-size to ems */

.drawer-header-font {
    font-family: @font_family_bold;
    font-size: 12px;
    font-weight: 400;
    color: #43484e;
    line-height: 40px;

}
.regulation-nav-item-font {
    font-family: @font_family_regular;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.regulation-nav-section-marker-font {
    font-family: @font_family_bold;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.regulation-nav-subpart-heading-font {
    font-family: @font_family_bold;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #75787b;
}

/*
 Border Styles
 --------------
*/

.border-bottom-medium (@width: 1px) {
    border-bottom: @width solid @medium_gray;
}

.border-bottom-light (@width: 1px) {
    border-bottom: @width solid @light_field;
}

.border-bottom-dark (@width: 1px) {
    border-bottom: @width solid @dark_gray;
 }

 .border-top-light (@width: 1px) {
    border-top: @width solid @light_field;
 }

 .border-top-medium (@width: 1px) {
    border-top: @width solid @medium_gray;
}

.border-right-light (@width: 1px){
    border-right: @width solid @light_field;
}

/*
 Animations
 -----------
*/

.slide (@direction: left, @speed: 300ms) {
    transform: translate3d(0,0,0);
    -webkit-transition: @direction @speed ease;
       -moz-transition: @direction @speed ease;
        -ms-transition: @direction @speed ease;
         -o-transition: @direction @speed ease;
            transition: @direction @speed ease;
}

// utility class for spinning loading indicators
.u_spinner {
    .cf-icon;
    .cf-icon__spin;
    display: block;
    width: 1em;
    height: 1em;
    margin: 0 auto;
    content: "\e112";
    color: @pacific;
    text-align: center;
    font-size: 1.375em;
    margin-top: 2em;
}

 /*
 Helpers
 ------------- */
.reset {
    margin: 0;
    padding: 0;
}
 /*
 App Nav Logo
 ------------- */
.app_nav_logo {
    display: inline;
    margin: 13px 10px 0 15px;
}