/*
LESS Mixins & Variables
 ==========================================================================
mixins.less contains any mixins or variables to be used throughout the LESS files
*/


/*
 Type Variables/Mixins
 ----------------------
*/

@body-font: Georgia, serif;

.avenir-next {
    font-family: "Avenir Next", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.avenir-next-demi {
    font-family: "Avenir Next Demi", Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.avenir-next-demi-italic {
    font-family: "Avenir Next Demi Italic", Arial, sans-serif;
    font-weight: 600;
    font-style: italic;
}

/*
 Border Styles
 --------------
*/

.border-bottom-medium (@width: 1px) {
    border-bottom: @width solid @medium_gray;
}

.border-bottom-light (@width: 1px) {
    border-bottom: @width solid @light_field;
}

.border-bottom-dark (@width: 1px) {
    border-bottom: @width solid @dark_gray;
 }

 .border-top-light (@width: 1px) {
    border-top: @width solid @light_field;
 }

 .border-top-medium (@width: 1px) {
    border-top: @width solid @medium_gray;
}

.border-right-light (@width: 1px){
    border-right: @width solid @light_field;
}

/*
 Animations
 -----------
*/

.slide (@direction: left, @speed: 300ms) {
    transform: translate3d(0,0,0);
    -webkit-transition: @direction @speed ease;
       -moz-transition: @direction @speed ease;
        -ms-transition: @direction @speed ease;
         -o-transition: @direction @speed ease;
            transition: @direction @speed ease;
}

// utility class for spinning loading indicators
.u_spinner {
    .cf-icon;
    .cf-icon__spin;
    display: block;
    width: 1em;
    height: 1em;
    margin: 0 auto;
    content: "\e112";
    color: @pacific;
    text-align: center;
    font-size: 1.375em;
    margin-top: 2em;
}

 /*
 Helpers
 ------------- */
.reset {
    margin: 0;
    padding: 0;
}
 /*
 App Nav Logo
 ------------- */
.app_nav_logo {
    display: inline;
    margin: 13px 10px 0 15px;
}