
//-----------------------------------------------------------------------------------------
// Layout
//-----------------------------------------------------------------------------------------

header {
    padding: $spacer-4;
    border-bottom: 1px solid $primary_color;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    max-width: $text-max-width;
    display: block; 
    margin: 0 auto;
}

.flexbox {
    display: flex;
    width: 100%;
}

main {
    display: table-cell;
    width: calc(100% - 800px);
    padding: $spacer-6;
}

aside {
    padding: $spacer-2 $spacer-4;

    &.left-sidebar {
        display: table-cell;
        width: 400px;
        background: $reverse_background_color;
    }

    &.right-sidebar {
        display: table-cell;
        width: 400px;
        border-left: 1px solid $border_color;
    }

}
