
//-----------------------------------------------------------------------------------------
// Layout
//-----------------------------------------------------------------------------------------

// We loosely use the CMS Design System grid: https://design.cms.gov/utilities/grid

header {
    padding: $spacer-4;
    border-bottom: 1px solid $primary_color;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.site-container {               // This is good to target for different screen sizes
    display: block; 
    margin: 0 auto;
    position: relative;
    padding: $spacer-3 $spacer-5;

    @include screen-xl {
        max-width: $width-xl;
        padding: $spacer-3;
    }

    @include screen-xxl {
        max-width: $width-xxl;
    }
}

.container {                    // Width set for optimal readability of text
    max-width: $text-max-width;
    display: block; 
    margin: 0 auto;
}

.flexbox {
    display: flex;
    width: 100%;
}

main {
    display: table-cell;
    width: calc(100% - 800px);
    padding: $spacer-6;
}

aside {

    &.left-sidebar {
        display: table-cell;
        width: 400px;
        background: $reverse_background_color;
        flex-shrink: 0;
        padding: 0 $spacer-4;
    }

    &.right-sidebar {
        display: table-cell;
        width: 400px;
        padding: $spacer-2 $spacer-4;
        border-left: 1px solid $border_color;
    }

    &.homepage-updates {
        padding-top: $spacer-6;
    }

}
