
//-----------------------------------------------------------------------------------------
// Layout: Working Layout to be Mostly Replaced by the CMS Design System grid
//-----------------------------------------------------------------------------------------

header {
  padding: 2em;
  border-bottom: 1px solid $primary_color;
}

.box {
  display: flex;
}

main {
  display: table-cell;
  width: calc(100% - 800px);
  padding: 2em;
}

aside {
  padding: 1em 2em;

  &.left-sidebar {
    display: table-cell;
    width: 400px;
    background: $reverse_background_color;
  }

  &.right-sidebar {
    display: table-cell;
    width: 400px;
    border-left: 1px solid $border_color;
  }

}

footer {
  padding: 1em 2em;
  border-top: 1px solid $border_color;
  background: $teritary_background_color;
  min-height: 4em;
}