
//-----------------------------
// Main: Base application CSS
//-----------------------------

@charset "UTF-8";

// Normalize
@import 'normalize';

// CMS Design System
// Add here
@import '@cmsgov/design-system/dist/scss/index';

$fa-font-path: "../fonts/webfonts";
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

// Medicaid and CHIP Regulations Site

@import 'application_settings';
@import 'layout'; 			
@import "partials/typography";
@import "partials/site_homepage";
@import "partials/search";
@import "partials/compare";
@import "partials/header";
@import "partials/sidebar_left";
@import "partials/sidebar_right";
@import 'partials/reg_text';
@import "partials/footer";
@import "partials/error_pages";
