<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>

<body {% if mark_as_draft %}class="watermark"{% endif %}>
<div class="comment-pdf">
  {% for section in sections %}
    <h1>{{section.label}}</h1>
    <div class="comment-content">
      {{section.commentHtml|safe}}
    </div>
    {% if section.files %}
      <h2>Attachments</h2>
      <ul>
        {% for file in section.files %}
          <li>{{file.name}}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if not forloop.last %}
      <hr />
    {% endif %}
  {% endfor %}
</div>
</body>

</html>
