{% comment %}
    Used once per section. Contained by subparts at the top level.
{% endcomment %}

<section id="{{node.label | join:'-'}}" class="reg-section">
    <h2 class="section-title" tabindex="0">
    <a class="reference" href="#{{node.label | join:'-'}}"><i class="fa fa-link"></i></a>
    {{node.title}} </h2>

    <div class="paragraphs">
        {{node.text | safe}}
        {% for node in node.children %}
            {% include "regulations/partials/node_types/node.html" %}
        {% endfor %}
    </div>

</section>

