{% comment %}
    full_footer contains the larger footer used on the universal landing and about pages
{% endcomment %}

{% load static %}

<div class="flexbox">

    <div class="footer-left">

        <a href="https://www.medicaid.gov/" target="_blank"><img src="{% static 'images/medicaid.png' %}" /></a>
        <h5>Centers for Medicare &amp; Medicaid Services</h5>
        <div class="address">7500 Security Boulevard, Baltimore MD 21244</div>
        <div class="social">
            <a href="https://twitter.com/cmsgov" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="http://www.youtube.com/user/CMSHHSgov" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
        </div>

    </div>

    <div class="footer-middle">
        <h4>Legal Limitations of This Tool</h4>
        <p>This tool is a compilation of material and not an official legal edition of the <a href="https://www.govinfo.gov/app/collection/cfr" target="_blank" class="external">Code of Federal Regulations</a> or the <a href="https://federalregister.gov" target="_blank" class="external">Federal Register</a>. We have made efforts to ensure the material presented is accurate, but for legal research you should consult the <a href="https://www.govinfo.gov/app/collection/cfr" target="_blank" class="external">official editions of those sources</a>. Nothing in this tool binds CMS or creates any rights, benefits, or defenses, substantive or procedural, that are enforceable by any party in any manner.</p>
    </div>

    <div class="footer-right">

        <div class="last-update-footer">Regulations last updated from <a href="https://ecfr.federalregister.gov" target="_blank" class="external">eCFR</a> on Apr 21, 2021.</div>

        <div class="about-footer"><a href="/about">About Medicaid &amp; CHIP Regulations</a></div>

        <p>A federal government managed website by the Centers for Medicare &amp; Medicaid Services.</p>

    </div>

</div>
