{% comment %}
    Prototype for latest changes display
{% endcomment %}

<div class="last-update-external">Regulations last updated from <a href="https://ecfr.federalregister.gov" target="_blank" class="external">eCFR</a> on Apr 21, 2021.</div>

<div class="latest-changes">

    <h3>Latest Changes to 42 CFR 430-460</h3>

    <div class="recent-change">
    	<a href="https://ecfr.federalregister.gov" target="_blank">
	    	<span class="indicator recent-flag">Final</span>
	    	<span class="recent-date">Sep 25, 2019</span> | <span class="recent-fr">84&nbsp;FR&nbsp;50308</span>
	    	<div class="recent-title">Medicaid Program; State Disproportionate Share Hospital Allotment Reductions</div>
	    </a>
    </div>

    <div class="recent-change">
    	<a href="https://ecfr.federalregister.gov" target="_blank">
	    	<span class="indicator recent-flag">Final</span>
	    	<span class="recent-date">Sep 25, 2019</span> | <span class="recent-fr">84&nbsp;FR&nbsp;50308</span>
	    	<div class="recent-title">Medicaid Program; State Disproportionate Share Hospital Allotment Reductions</div>
	    </a>
    </div>

    <div class="recent-change">
    	<a href="https://ecfr.federalregister.gov" target="_blank">
	    	<span class="indicator recent-flag">Final</span>
	    	<span class="recent-date">Sep 25, 2019</span> | <span class="recent-fr">84&nbsp;FR&nbsp;50308</span>
	    	<div class="recent-title">Medicaid Program; State Disproportionate Share Hospital Allotment Reductions</div>
	    </a>
    </div>

    <p class="see-fr">For more changes, see the <a href="https://www.federalregister.gov/" target="_blank" class="external">Federal Register</a>.</p>

</div>