{% comment %}
    Used once per section. Contained by subparts at the top level.
{% endcomment %}

{% load layers %}

<section id="{{c.label | join:'-'}}" class="reg-section">
    <a class="reference" href="#{{c.label | join:'-'}}"><i class="fa fa-link"></i></a>
    {% if c.title %}
        {% if first == "true" %}
            <h1 tabindex="0"> {{c.title}} </h1>
        {% else %}
            <h2 class="section-title" tabindex="0"> {{c.title}} </h2>
        {% endif %}
    {% endif %}
    {{c.text | safe}}
</section>

{% for node in c.children %}
    {% include "regulations/partials/regulation_text.html" with c=node first="false" %}
{% endfor %}
