<ul class="toggle-toc-menu-sections {{type}}-{{item.label|last}}">
    {% for sub_toc_item in item.children %}
        {% if sub_toc_item.type == "section" %}
            {% include "regulations/partials/toc_section.html" with item=sub_toc_item %}
        {% elif sub_toc_item.type == "subject_group" %}
            {% include "regulations/partials/toc_subjgrp.html" with item=sub_toc_item %}
        {% else %}
            <li class="toggle-toc-menu-sections">
                <a href="{{sub_toc_item.url}}" data-section-id="{{sub_toc_item.section_id}}">
                    {{sub_toc_item.label|safe}}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
