<ul class="toggle-toc-menu-sections {{type}}-{{item.index|last}}">
    {% for sub_toc_item in item.sub_toc %}
        {% if sub_toc_item.is_section %}
            {% include "regulations/partials/toc_section.html" with section="subpart" group=item.index item=sub_toc_item %}
        {% elif sub_toc_item.is_subjgrp %}
            {% include "regulations/partials/toc_subjgrp.html" with item=sub_toc_item %}
        {% else %}
            <li class="toggle-toc-menu-sections">
                <a href="{{sub_toc_item.url}}" data-section-id="{{sub_toc_item.section_id}}">
                    {{sub_toc_item.label|safe}}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
