.dropdown-list {
  padding: 0;
}

.dropdown-header {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: $spacer-2;
}

.dropdown-item {
  color: $primary_text_color;
  list-style: none;
  padding-left: $spacer-2;
  padding-top: $spacer-1;
  padding-bottom: $spacer-1;

  &:hover {
    color: $primary_link_hover;
  }
}

.dropdown-link {
  text-decoration: none;
  color: $primary_text_color;
  font-size: 1em;
}

.dropdown-content {
  background-color: $secondary_background_color;
  width: 20%;
  border-radius: 10px;
  padding-top: $spacer-2;
  padding-bottom: $spacer-2;
}

.dropdown-button {
  background: none;
  text-align: left;
}

.dropdown-part-button {
  color: $secondary-color;
  border: none;
  background: none;
  font-size: 1em;
}
