
//-----------------------------
// Error Pages
//-----------------------------

@import "../application_settings";

main.error-page {
    display: flex;
    width: 75%;
    height: 100%;
    padding: 0;
    max-width: 920px;
    margin: auto;

    div.error-left {
        flex: auto;
        margin: auto;
        padding-right: $spacer-3;
    
        p {
            font-family: $primary_site_font;
        }

        h1 {
            margin-top: 0;
        }
    }

    img.error-image {
        flex: auto;
        width: 185px;
        max-width: 185px;
    }
}
