
//-----------------------------
// Footer
//-----------------------------

@import "../application_settings";

footer {
    padding: $spacer-4;
    border-top: 1px solid $border_color;
    background: $teritary_background_color;

    p {
        font-size: $font-size-xs;
        color: $secondary_text_color;
    }

    h5 {
        font-family: $secondary_site_font;
        color: $secondary_text_color;
        margin: $spacer-1 0 0 0;
        font-size: $font-size-sm;
    }

    .address {
        margin-bottom: $spacer-3;
        font-size: $font-size-xs;
    }

    .last-update-footer {
        font-family: $secondary_site_font;
        font-weight: 600;
        font-size: $font-size-sm;
        margin-bottom: $spacer-2;
    }

    .about-footer {
        font-size: $font-size-sm;
    }

    .footer-left {
        display: table-cell;
        width: 400px;
        padding: 0 $spacer-4;

        a:hover {
            opacity: .8;
        }

        img {
            width: 100%;
            max-width: 219px;
        }
    }

     .footer-middle {
        display: table-cell;
        width: calc(100% - 800px);
        padding: 0 $spacer-6;

        h4 {
            font-family: $secondary_site_font;
            color: $secondary_text_color;
            margin-top: 0;
        }
    }

     .footer-right {
        display: table-cell;
        width: 400px;
        padding: 0 $spacer-4;

        i {
            font-size: 30px;
            line-height: 34px;
            color: $primary_link_color;
            padding-right: $spacer-2;

            &:hover {
                color: $primary_link_hover;
                cursor: pointer;
                @include transition;
            }
        }
    }
}
