
//-----------------------------
// Header
//-----------------------------

@import "../application_settings";


// Temporary: Gives users a way to switch between part, subpart, and section views
.switch-view {
	background: $teritary_background_color;
	padding: .5em 0;
	border-bottom: 1px solid $border_color;

	ul {
		margin: 0;
		text-align: right;

		li {
			display: inline;
			margin-right: 2em;

			a {
				font-weight: 500;

				&.active {
					font-weight: bold;
					color: $teritary_link_color;

					&:hover {
						color: $teritary_link_hover;
					}
				}
			}
		}
	}
}

header {

	a {
		text-decoration: none;
		color: $secondary_link_color;

		&:hover {
			color: $secondary_link_hover
		}
	}

	.site-title {
		display: inline-block;
		border-right: 1px solid $border_color;
		padding-right: 1em;
		margin-right: 1em;
		font-size: 1.5rem;
		font-weight: bold;
	}

	.reg-title {
		display: inline-block;
	}
}