
//-----------------------------
// Header
//-----------------------------

@import "../application_settings";

header {

	a {
		text-decoration: none;
		color: $secondary_link_color;

		&:visited {
			color: $secondary_link_color;
		}

		&:hover {
			color: $secondary_link_hover;
		}
	}

	.site-title {
		display: inline-block;
		border-right: 1px solid $border_color;
		padding-right: $spacer-2;
		margin-right: $spacer-2;
		font-size: $font-size-2xl;
		font-weight: bold;
	}

	.reg-title {
		display: inline-block;
	}
}

.search-header {
	float: right;

	.search-box {
		width: 380px;

		input {
			border: 1px solid $border_color;
		}
	}
}
