
//-----------------------------
// Main Reg Text View
//-----------------------------

@import "../application_settings";

// Temporary: Workaround because we're rendering multiple H1s in the subpart view.
.reg-text {

    h1 {
        color: $primary_color;
    }

    > section > h1 {
        padding-top: $spacer-2;
        font-size: 1.8em;
        color: $primary_text_color;
    }
}

.reg-section {
    line-height: 1.7em;
    max-width: 75ch;

    // Temporary: Workaround because we're rendering multiple H1s in the subpart view.
    &:last-of-type {
        margin-bottom: $spacer-4;
    }

    &:target {
        background: $teritary_background_color;
        padding: $spacer-1 0;
        scroll-margin-top: $spacer-4;
    }

    .reference {
       visibility: hidden;
    }

    &:hover {
       .reference {
           visibility: visible;
       }
   }
}

.next-previous {
    display: flex;
    margin: $spacer-7 auto;

    .next-prev {
        direction: table-cell;
        width: 50%;
        text-decoration: none;

        &.previous {
            &:before {
                background-image: url('/images/previous.svg');
            }
        }

        &.next {
            text-align: right;

            &:before {
                background-image: url('/images/next.svg');
            }
        }
    }

    .next-prev-label {
        font-weight: bold;
    }

    .next-prev-title {
        font-size: .9em;
        color: $primary_text_color;
    }
}
