
//-----------------------------
// Main Reg Text View
//-----------------------------

@import "../application_settings";

// Temporary: Workaround because we're rendering multiple H1s in the subpart view.
.reg-text {

	h1 {
		color: $primary_color;
	}

	> section > h1 {
		padding-top: 1em;
		font-size: 1.8em;
		color: $primary_text_color;
	}
}

.reg-section {
    margin: 1em 0;
    line-height: 1.7em;
    max-width: 75ch;

    // Temporary: Workaround because we're rendering multiple H1s in the subpart view.
    &:last-of-type {
    	margin-bottom: 3em;
    }
}

.next-previous {
	display: flex;
	margin: 4em auto;

	.next-prev {
		direction: table-cell;
		width: 50%;
		text-decoration: none;

		&.previous {
			&:before {
				background-image: url('/images/previous.svg');
			}
		}

		&.next {
			text-align: right;

			&:before {
				background-image: url('/images/next.svg');
			}
		}
	}

	.next-prev-label {
		font-weight: bold;
	}

	.next-prev-title {
		font-size: .9em;
		color: $primary_text_color;
	}
}
