
//-----------------------------
// Main Reg Text View
//-----------------------------

@import "../application_settings";

.reg-text {

    h1 {
        color: $primary_color;
        font-size: $base-font-size * 2;
    }

    h2 {
       color: $primary_color; 
    }
}

.reg-section {
    max-width: 75ch;
    margin: $spacer-2;

    &:target {
        background: $teritary_background_color;
        padding: $spacer-1 0;
        scroll-margin-top: $spacer-4;
    }

    .reference {
       visibility: hidden;
    }

    &:hover {
       .reference {
           visibility: visible;
       }
   }

   .section-text {
        line-height: 1.8em;
        display: inline;
    }
}

.next-previous {
    display: flex;
    margin: $spacer-7 auto;

    .next-prev {
        direction: table-cell;
        width: 50%;
        text-decoration: none;

        &.previous {
            &:before {
                background-image: url('/images/previous.svg');
            }
        }

        &.next {
            text-align: right;

            &:before {
                background-image: url('/images/next.svg');
            }
        }
    }

    .next-prev-label {
        font-weight: bold;
    }

    .next-prev-title {
        font-size: $font-size-sm;
        color: $primary_text_color;
    }
}
