
//-----------------------------
// Search Page
//-----------------------------

@import "../application_settings";

.search-page {

	main {
		width: calc(100% - 450px);
	}

	aside.left-sidebar[data-state="expanded"] + main {
		width: calc(100% - 800px);
	}

	.container {
		margin: 0;
	}

	// Back to Regulation Text

	.search-back {
		margin: $spacer-4 0;

		a {
			text-decoration: none;

			.back-arrow {
				mask: url('/images/previous.svg') no-repeat center;
				display: inline-block;
				width: 16px;
				height: 30px;
				background: $primary_link_color;
				margin-right: 10px;
				vertical-align: bottom;
			}

			&:hover {

				.back-arrow {
					background: $primary_link_hover;
				}
			}
		}
	}

	// Context for what parts we're searching

	.search-context {
		margin-bottom: $spacer-2;
	}

	// i.e. "18 results, displayed by relevance"

	.search-displayed-by {
		font-size: .8em;
		color: $secondary_text_color;
		margin: $spacer-3 0;
	}

	// Search Options/Filters

	.search-options {
		margin: $spacer-2 0 $spacer-3;

		a {
			text-decoration: none;
			margin-right: $spacer-2;
			padding: 0 .9em .3em 0;

			&.selected {
				border-bottom: 2px solid $primary_link_color;
			}
		}

		.fa-search {
			margin-right: .3em;
		}

		.fa-angle-down {
			margin-left: .3em;
		}

		label {
			color: $primary_link_color;
			cursor: pointer;

			&:hover {
				color: $primary_link_hover;
			}
		}
	}

	.hierarchy {
		float: right;
	}

	// Results

	.result {
		margin: $spacer-3 0;

		.results-part {
			font-size: $font-size-sm;
		}

		.results-section {
			font-size: $font-size-lg;
			margin-bottom: $spacer-1;

			a {
				text-decoration: none;
			}
		}

		.results-preview {
			font-size: $font-size-sm;
		}

		.search-highlight {
			font-weight: bold;
		}
	}

	// Right Sidebar 

	.right-sidebar {

		h3 {
			font-size: $font-size-md;
			font-weight: 600;
			margin-bottom: $spacer-2;
		}

		h4 {
			margin: 0 0 0 $spacer-2;
			font-weight: 600;

			a {
				text-decoration: none;
			}
		}

		p {
			margin: 0 0 0 $spacer-2;
			color: $secondary_text_color;
			font-size: $font-size-sm;
		}

	}
}

// Search Text Box

.search-box {
	width: 100%;
	position: relative;
	display: flex;

	input {
		width: 100%;
		border: 1px solid $border_color;
		border-right: none;
		padding: $spacer-1 $spacer-2;
		border-radius: 3px 0 0 3px;
		outline: none;

		&:focus {
			color: $primary_link_hover;
		}

		&::placeholder {
			color: $primary_text_color;
		}

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: $primary_text_color;
		}

		&::-moz-placeholder { /* Firefox 19+ */
			color: $primary_text_color;
		}

		&:-ms-input-placeholder { /* IE 10+ */
			color: $primary_text_color;
		}

	}

	.search-reset {
		border: 1px solid $border_color;
		border-right: none;
		border-left: none;
		background: none;
		text-align: center;
		color: #fff;
		border-radius: 0;
		cursor: pointer;
		font-size: 1.5rem;
		width: 68px;
		height: 58px;

		&:hover {
			.fa {
				color: $primary_link_hover;
			}
		}

		.fa {
			color: $secondary_text_color;
		}
	}

	.search-submit {
		border: 1px solid $border_color;
		background: none;
		text-align: center;
		color: #fff;
		border-radius: 0 3px 3px 0;
		cursor: pointer;
		font-size: 1.5rem;
		width: 68px;
		height: 58px;

		&:hover {
			.fa {
				color: $primary_link_hover;
			}
		}

		.fa {
			color: $primary_link_color;
		}
	}

}
