
//-----------------------------------
// Left Sidebar - Table of Contents
//-----------------------------------

@import "../application_settings";

aside.left-sidebar {
	color: $reverse_text_color;
	height: 100vh;
	overflow-y: scroll;
	position: sticky;
	top: 0;

	a {
		color: $reverse_link_color;

		&:hover {
			color: $reverse_link_hover;
		}
	}

	ul {
		padding: 0  0 $spacer-2 0;

		&.toggle-toc-menu-sections {
			padding-left: $spacer-2;
		}

		li {
			list-style: none;
			overflow: hidden;
			max-height: 500em;

			a {
				text-decoration: none;
				font-weight: bold;
			}

			&[data-state="collapsed"] {
				max-height: 0;
			}

			transition: all 1s ease-out;
		}

		button {
			border: none;
			background: none;
			color: $reverse_link_color;
			cursor: pointer;
			outline: none;

			&:hover {
				color: $reverse_link_hover;
				@include transition;
			}

			&[data-set-state="expanded"][data-state="expanded"] {
				display: none;
			}
			&[data-set-state="collapsed"][data-state="collapsed"] {
				display: none;
			}
		}

		button:focus-visible {
			outline: 2px solid black;
		}
	}

	.subpart-letter {
		cursor: pointer;
	}

	.subpart-range {
		font-size: $font-size-sm;
	}

	.subpart-name {
		font-size: $font-size-sm;
		font-weight: normal;
		padding-right: $spacer-4;
	}

	.toc-section-number {
		font-size: $font-size-sm;
	}

	.toc-section-name {
		color: $reverse_text_color;
		font-weight: normal;
		font-size: $font-size-sm;
		margin-bottom: $spacer-2;
	}

	.toc-controls {
		border-bottom: 1px solid $secondary_border_color;
		padding-bottom: $spacer-2;
		margin: 0 -2em;

		button {
			outline: none;
			color: $reverse_link_color;
			border: none;
			background: none;
			margin-left: $spacer-3;
			cursor: pointer;

			&:hover {
				color: $reverse_link_hover;
				@include transition;
			}

			img {
				height: $base-font-size;
				padding-right: 5px;
			}

			&[data-set-state="expanded"] {
				margin: 0 auto;
				display: none;
			}
		}
	}

	&[data-state="collapsed"] {
		width: 1em;
		padding: 1em;
		scrollbar-width: none;

		div {
			display: none;
		}

		div.toc-controls {
			margin: 0 -1em;
			display: block;

			[data-set-state="collapsed"] {
				display: none;
			}

			[data-set-state="expanded"] {
				display: block;
			}
		}
	}

	transition: all .25s ease-out;
}

// Jump To Regulation Section

.jump-to {
	border-bottom: 1px solid $secondary_border_color;
	padding: $spacer-2 0 $spacer-4;

	.jump-to-label {
		margin: $spacer-2 0 $spacer-1 0;
		font-size: $font-size-lg;
		font-weight: 600;
	}

	.jump-to-input {
		display: inline-block;
	}

	input {

		&.submit {
			display: inline-block;
			padding: .4em 1em;
			background: $reverse_link_color;
			border: none;
			border-radius: $border-radius;
			cursor: pointer;

			&:hover {
				background: $reverse_link_hover;
				@include transition;
			}
		}
	}

	.number-box {
		width: 40px;
		background: none;
		border: 0;
		border-bottom: 2px solid $placeholder_color;
		margin-right: $spacer-1;
		color: $reverse_text_color;

		&:focus {
			color: $reverse_text_color;
		}
	}

	label {
		font-weight: 600;
		font-size: $font-size-lg;
	}
}
