
//-----------------------------
// Site Homepage
//-----------------------------

@import "../application_settings";

.site-homepage {

    .reg-title {
        h1 {
            margin-bottom: 0;
            font-size: 1.7em;
        }
    }
}

.subchapter {
    border-bottom: 1px solid $border_color;
    padding: 1em 0;
}

.part-names {
    display: block;
    margin: 1em 0;
    padding: 0;

    a {
        text-decoration: none;
        font-size: 1.2em;

        .part-number {
            font-weight: bold;
            display: table-cell;
            padding-right: .3em;
        }

        .part-title {
            display: table-cell;
        }

    }
}
