{% load static from staticfiles %}

<section id="help" class="regs-meta">
  {% include "regulations/generic_help.html" %}
  <div class="sidebar-subsection">
    <h5 class="help-title">Textual Help</h5>
      <a class="what" href="{% url 'about' %}#related-info"
         target="_blank">(What's this?)</a>
      <ul class="help-list">
        <li class="group">
          <div class="help-sample"><a class="definition">term</a></div>
          <div class="help-text">Defined Term</div>
        </li>
        <li class="group">
          <div class="help-sample"><a class="internal">citation</a></div>
          <div class="help-text">Link within a regulation <br/>
            (example: 1005.8(b))</div>
        </li>
        <li>
          <img src="{%static "regulations/img/supplement-sample.png" %}"
               class="block-image" />
          Inline interpretations/commentary from Supplement I
        </li>
      </ul>
    </div> <!-- /.sidebar-subsection-->
  </div> <!-- /.expand-drawer-->
</section> <!-- /.regs-meta -->

